@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --colorMain: rgb(124, 103, 202);
    --scaleExp: 1.2;
    --timeTransition: 0.2s;
}
*{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

#divIdMenuBarContainer{
    margin-top: 2.5vh;
    background-color: rgb(245, 249, 252);
    height: 95vh;
    width: 95%;
    border-radius: 6px;
}

body, #divIdMenuBarContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

#divIdMenuBarI{
    height: 4.2em;
    width: 82%;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
}

#imgIdLogo{
    width: 90px;
}

nav {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav a {
    position: relative;
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin-left: 4%;
    transition: var(--timeTransition) ease-in;
}

nav hr{
    position: absolute;
    border: none;
    height: 3px;
    background-color: var(--colorMain);
    width: 0%;
    transition: var(--timeTransition) ease-in;
}

.aClassMovLeft:hover hr{
    width: 100%;
}

.aClassMovCenter hr{
    left: 50%;
}

.aClassMovCenter:hover hr{
    left: 0%;
    width: 100%;
}

.aClassMovRight hr{
    left: 100%;
}

.aClassMovRight:hover hr{
    left: 0%;
    width: 100%;
}

#divIdSearch{
    margin-left: 12%;
    height: 55%;
    width: 60%;
    display:flex;
    align-items: center;
    border: 2px solid rgba(0,0,0,0.1);
    border-radius: 50px;
    transition: var(--timeTransition) ease-in;
}

#divIdSearch i{
    color: rgba(0,0,0,0.5);
    margin-left: 15px;
    transition: var(--timeTransition) ease-in;
}

#divIdSearch input[type=search]{
    width: 75%;
    margin-left: 8px;
    border: none;
    outline: none;
}

input[type=search]::placeholder {
     color: rgba(0,0,0,0.4); 
     font-weight: bold; 
}

.expand:hover, #divIdSearch:hover i{
    transform: scale(var(--scaleExp));
}

#divIdSearch:hover{
    border-color: var(--colorMain);
}

#divIdGlob{
    margin-left: 2.5%;
}

#divIdGlob:hover, 
#divIdContAlarm:hover a,
#divIdSearch:hover i {
    color: var(--colorMain);
    text-shadow: 1px 1px 5px var(--colorMain);
}

#divIdContAlarm{
    margin-left: 1.5%;
    width: 2%;
    height: 50%;
    position: relative;
    transition: var(--timeTransition) ease-in;
}

#divIdCircle{
    position:absolute;
    top:2px;
    left: 160%;
    border-radius: 50px;
    height: 6px;
    width: 6px;
    border: none;
    background-color: red;
}

#divIdContAlarm a{
    position: absolute;
    top: 8px;
}

#imgImgUsr{
    width: 100%;
    /* margin-left: 1.5%; */
    border-radius: 70px;
    transition: var(--timeTransition) ease-in;
    border: 2px solid white;
}

#imgImgUsr:hover{
    transform: scale(var(--scaleExp));
    border: 2px solid var(--colorMain);
}