/* Fuente de la barra de menú */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Variables CSS */
:root{
    /* Personalizan la barra de menú */
    --colorFont: black;
    --colorMain: rgb(124, 103, 202);
    --colorSecond: white;
    --colorBkg: rgb(245, 249, 252);
    --colorCircle: red;
    --colorPHoldSearch: rgba(0, 0, 0, 0.4);
    --imgUsr: url("../images/imgUsr.png");
    /* variables para la animación y transición */
    --scaleExp: 1.2;
    --timeTransition: 0.2s;
}

/* Configuraciones iniciales */
*{
    color: var(--colorFont);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

/* CXonfiguracion del contenedor de la barra de menú */
#divIdMenuBarContainer{
    margin-top: 2.5vh;
    background-color: var(--colorBkg);
    height: 95vh;
    width: 95%;
    border-radius: 6px;
}

/* Se aplica flexbox para centrar tanto el contenido del body como el contenedor de la barra de menú */
body, #divIdMenuBarContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Crea los limites de la barra de menú y hace que su único elemento (nav) se centre */
#divIdMenuBarI{
    height: 4.2em;
    width: 82%;
    display: flex;
    align-items: center;
    background-color: var(--colorSecond);
    justify-content: center;
}

/* delimita el ancho del logo para que no desborde de la barra de menú */
#imgIdLogo{
    width: 90px;
}

/* Crea los limites del nav contenedor de los elementos de la barra de menú y hace que el espaciado entre ellos sean iguales */
nav {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Dá formato a todas las estiquetas 'a' dentro del nav */
nav a {
    position: relative;
    text-decoration: none;
    color: var(--colorFont);
    font-weight: 600;
    margin-left: 4%;
    transition: var(--timeTransition) ease-in;
}

/* Dá formato a todas las estiquetas 'hr' dentro del nav que representan las barras de animacion de cada elemento/item de la barra de menú */
nav hr{
    position: absolute;
    border: none;
    height: 3px;
    background-color: var(--colorMain);
    width: 0%;
    transition: var(--timeTransition) ease-in;
}

/* los elementos que tengan esta clase crecerán de su porcentaje inicial a 100% de izquierda a derecha */
.aClassMovLeft:hover hr{
    width: 100%;
}

/* los elementos que tengan esta clase se correrán el 50% de izquierda a derecha */
.aClassMovCenter hr{
    left: 50%;
}

/* los elementos que tengan esta clase se correrán el 100% de izquierda a derecha */
.aClassMovRight hr{
    left: 100%;
}

/* los elementos que tengan esta clase crecerán de su porcentaje inicial al 100% y se moveran de su posicion actual a 0% a la izquierda */
.aClassMovCenter:hover hr,
.aClassMovRight:hover hr {
    left: 0%;
    width: 100%;
}

/* Configura la caja de búsqueda */
#divIdSearch{
    margin-left: 12%;
    height: 55%;
    width: 60%;
    display:flex;
    align-items: center;
    border: 2px solid rgba(0,0,0,0.1);
    border-radius: 50px;
    transition: var(--timeTransition) ease-in;
}

/* Configura el ícono de Búsqueda */
#divIdSearch i{
    color: var(--colorPHoldSearch);
    margin-left: 15px;
    transition: var(--timeTransition) ease-in;
}

/* Configura la caja de texto de búsqueda */
#divIdSearch input[type=search]{
    width: 75%;
    margin-left: 8px;
    border: none;
    outline: none;
}

/* Cambia la configuracion del texto del PlaceHolder de la caja de texto de búsqueda */
input[type=search]::placeholder {
     color: var(--colorPHoldSearch); 
     font-weight: bold; 
}

/* Animación de expansión para todos los elementos que contengan la clase 'expand' y para la caja de búsqueda */
.expand:hover, #divIdSearch:hover i{
    transform: scale(var(--scaleExp));
}

/* Cambia el color de la caja de texto de búsqueda cuando pasa el mouse por encima */
#divIdSearch:hover{
    border-color: var(--colorMain);
}

/* configura el margen izquierdo del icono de mensajes */
#divIdGlob{
    margin-left: 2.5%;
}

/* Cambia color y sombra del texto en los iconos y en la caja de texto de búsqueda */
#divIdGlob:hover, 
#divIdContAlarm:hover a,
#divIdSearch:hover i {
    color: var(--colorMain);
    text-shadow: 1px 1px 5px var(--colorMain);
}

/* Configura el icono de alarmas */
#divIdContAlarm{
    margin-left: 1.5%;
    width: 2%;
    height: 50%;
    position: relative;
    transition: var(--timeTransition) ease-in;
}

/* Configura el círculo superior en el icono de la alarma */
#divIdCircle{
    position:absolute;
    top:2px;
    left: 160%;
    border-radius: 50px;
    height: 6px;
    width: 6px;
    border: none;
    background-color: var(--colorCircle);
}

/* Establece la posicion del icono de la alarma */
#divIdContAlarm a{
    position: absolute;
    top: 8px;
}

/* Dá un ancho y alto a la imagen de usuario/avatar para que no desborde de la barra de menú */
#aImgImgUsr{
    height: 50%;
    width: 10%;
}

/* Configura la imagen del usuario/avatar */
#imgImgUsr{
    width: 30px;
    height: 30px;
    background-image: var(--imgUsr);
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
    border-radius: 50px;
    object-fit:scale-down;
    transition: var(--timeTransition) ease-in;
    border: 2px solid var(--colorSecond);
}

/* Animacion/efecto sobre la imagen/avatar */
#imgImgUsr:hover{
    transform: scale(var(--scaleExp));
    border: 2px solid var(--colorMain);
}